.schedule-head {
  border-bottom: 1px solid #A7A7A7;
  margin: 0 5px 0 5px;
  padding: 2px 10px;
  display: inline-block;
  width: 30px;
}

.schedule-inner {
  background-color: #EDEDED;
  box-shadow: inset 0 0 1px 1px #787878;
  list-style-type: none;
  margin: 0 5px 0 5px;
}

.score {
  border-bottom: 1px solid #787878;
  border-left: 1px solid #A7A7A7;
  color: black;
  margin: 0px;
  padding: 2px;
  background-color: white;
}

.score:last-child {
  border-bottom: none;
}

#PanelUI-australis-sports-widget {
  overflow: scroll;
}
